.card {
  background-color: rgb(97, 91, 91);
  color: black;
  border: solid thin black;
  border-radius: 25px;
  margin: 10px;
}

.customer_info {
  text-align: center;
}

.bold_border {
  border: solid 5px yellow;
}

.product :hover {
  background-color: blue;
}

